.cart {
    width: 100%;
    min-height: 100px;
    background-color: #ccc;
}

.items__list {
    display: flex;
    justify-content: space-between;
}

.item {
    list-style-type: none;
    width: 350px;
    min-height: 400px;
    background-color: #ccc;
}